.menu-title {
    position: absolute;
    bottom: 3em;
    line-height: 110%;
    text-shadow: 0 0 10px black;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 8px !important;
}

.menu-img {
    height: 130px;
    object-fit: cover;
}

.menu-img-view {
    width: 100%;
    object-fit: scale-down;
}

.menu-thumbnail {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

#div_alert {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 1001;
}

.space0 {
    height: 75px;
    width: 75px;
    padding: 8px !important;
    margin: 0 auto !important;
}

.space1 {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.8em;
}

.space1 a {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 4px silver;
}

.space-left {
    border-left: 1px solid rgba(0, 255, 0, 0);
}

.space-left:before {
    content: "👤";
    position: relative;
    display: block;
    float: left;
    top: 30%;
    left: -4px;
    color: green;
}

.space-right {
    border-right: 1px solid rgba(0, 255, 0, 0);
}

.space-right:after {
    content: "👤";
    position: relative;
    display: block;
    float: right;
    top: 30%;
    right: -4px;
    color: green;
}